<div>
    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>

    <div class="top-page">
        <div>
            <div class="d-flex">
                <h3>Formulários</h3>
            </div>
        </div>
        <div>
            <p-button styleClass="w-100" (click)="clickNew()" icon="pi pi-plus" label="Cadastrar Formulário"></p-button>
        </div>
    </div>

    <div class="page">
        <form-dynamic-angular title="Filtros" [buttonsStandard]=buttonsStandard [form]=form
            [control]=control></form-dynamic-angular>
    </div>

    <div class="page">
        <app-table-custom [rows]="formsFIlter" [cols]="cols" [buttonsOptional]="buttonsTable"></app-table-custom>
    </div>

</div>