<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary">
    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="text-align: center;">
        <span><img src="../../../assets/logo_ajaxti.svg" height="25"></span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">

                <li class="nav-item">
                    <a href="/pages/forms" class="nav-link">
                        <i class="pi pi-folder"></i>
                        <p> Formulários</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/pages/request" class="nav-link">
                        <i class="pi pi-file-edit"></i>
                        <p> Solicitações</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>