<div class="page">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <form-dynamic-angular (onChange)=chageValues() [buttonsStandard]=buttonsStandard title="{{title}} Solicitação"
        [form]=form [control]=control [buttonsOptional]=buttonsOptional></form-dynamic-angular>


    <p-dialog  [maximizable]="true" header="Rejeitar Solicitação" [(visible)]="visible" [style]="{ width: '90vw', height: '500px' }">
        <form-dynamic-angular (onChange)=chageValues() [buttonsStandard]=buttonsStandardReject
            [form]=formmReject [control]=controlReject ></form-dynamic-angular>
    </p-dialog>
</div>