.label--withNegativeMarginRight {
    margin-right: -4.5em;
}

.products {
    border-left: 4px solid #3B82F6;
    padding: 0px 0px 0px 15px;

    margin-top: 20px;
}

.titleItens {
    color: #3B82F6;
    font-size: 18px;
}

.seeMore {
    color: #3B82F6;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.d-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(269px, 1fr));
}

.columns {
    grid-template-columns: repeat(auto-fill, minmax(269px, 1fr));
}