
.page {
    background-color: #fff;
    border-radius: 11px;
    padding: 38px;
    margin-bottom: 35px;
}


.top-page {
    display: flex;
    justify-content: space-between;
}


.top-page h3,
.top-page i {
    font-size: 21px;
    margin-left: 10px;
}