<div>
    <div class="top-page">
        <div>
            <div class="d-flex">
                <h3>Solicitações</h3>
            </div>
        </div>
        <div>
            <p-button styleClass="w-100" (click)="clickNew()" icon="pi pi-plus"
                label="Cadastrar Solicitação"></p-button>
        </div>
    </div>

    <div class="page">
        <form-dynamic-angular title="Filtros" [buttonsStandard]=buttonsStandard [form]=form
            [control]=control></form-dynamic-angular>
    </div>

    <div class="page">
        <p-tabView>
            <p-tabPanel *ngFor="let list of requestsFilter" header="{{list.title}}">
                <app-table-custom [rows]="list.table" [cols]="cols"></app-table-custom>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>